@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="display-4">Hata Oluştu</h1>

<p class="lead">Üzgünüz, bir hata oluştu.</p>

<p>Detaylar: @Model.RequestId</p>

<div class="alert alert-danger" role="alert">
    Your current Action is invalid.
</div>

<a asp-action="Index" class="btn btn-primary">Ana Sayfa</a>
